**/target
**/releases
**/*.smd
**/*.pyc
Cargo.lock
scripts/output.csv
scripts/edited.csv
scripts/motion_list.yml
scripts/motion_list.bin
scripts/char_stats/
scripts/vanilla_scripts/
scripts/filepath.txt
output.txt
scripts/.~lock.output.csv\#
scripts/output.md
